src/main/mule/todo-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <configuration-properties file="application.yaml" />

  <http:listener-config name="badssl-api-http-listener-config">
    <http:listener-connection host="${http.host}" port="${http.port}" />
  </http:listener-config>

  <http:request-config name="client-badssl-mtls-request-config">
    <http:request-connection protocol="HTTPS" host="${badssl.client.host}" port="443">
      <tls:context>
        <tls:key-store path="${badssl.client.keystore.path}" password="${badssl.client.keystore.password}" type="pkcs12" />
      </tls:context>
    </http:request-connection>
  </http:request-config>

  <http:request-config name="self-signed-badssl-request-config">
    <http:request-connection protocol="HTTPS" host="${badssl.selfSigned.host}" port="443">
      <tls:context>
        <tls:trust-store path="${badssl.selfSigned.truststore.path}" password="${badssl.selfSigned.truststore.password}" type="pkcs12" />
      </tls:context>
    </http:request-connection>
  </http:request-config>

  <api-gateway:autodiscovery apiId="${api.manager.id}" flowRef="badssl-api-main" />

  <apikit:config name="badssl-api-config" api="api/todo-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

  <flow name="badssl-api-main">
    <http:listener config-ref="badssl-api-http-listener-config" path="/api/v1/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="badssl-api-config" />
    <error-handler ref="badssl-api-error-handler" />
  </flow>

  <sub-flow name="build-error-response">
    <ee:transform doc:name="Build error response">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: vars.errorCode default "ERROR",
  message: vars.errorMessage default "Unexpected error"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </sub-flow>

  <sub-flow name="build-badssl-response">
    <ee:transform doc:name="Build BadSSL response">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  target: vars.targetUrl,
  status: attributes.statusCode,
  reasonPhrase: attributes.reasonPhrase default null,
  body: payload as String
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </sub-flow>

  <flow name="get:\mtls\client-badssl:badssl-api-config">
    <set-variable variableName="targetUrl" value="https://${badssl.client.host}${badssl.client.path}" />
    <http:request method="GET" config-ref="client-badssl-mtls-request-config" path="${badssl.client.path}" />
    <flow-ref name="build-badssl-response" />
  </flow>

  <flow name="get:\tls\self-signed-badssl:badssl-api-config">
    <set-variable variableName="targetUrl" value="https://${badssl.selfSigned.host}${badssl.selfSigned.path}" />
    <http:request method="GET" config-ref="self-signed-badssl-request-config" path="${badssl.selfSigned.path}" />
    <flow-ref name="build-badssl-response" />
  </flow>

  <error-handler name="badssl-api-error-handler">
    <on-error-propagate type="APIKIT:BAD_REQUEST">
      <set-variable variableName="httpStatus" value="400" />
      <set-variable variableName="errorCode" value="BAD_REQUEST" />
      <set-variable variableName="errorMessage" value="#[error.description]" />
      <flow-ref name="build-error-response" />
    </on-error-propagate>
    <on-error-propagate type="APIKIT:NOT_FOUND">
      <set-variable variableName="httpStatus" value="404" />
      <set-variable variableName="errorCode" value="NOT_FOUND" />
      <set-variable variableName="errorMessage" value="Resource not found" />
      <flow-ref name="build-error-response" />
    </on-error-propagate>
    <on-error-propagate type="ANY">
      <set-variable variableName="httpStatus" value="502" />
      <set-variable variableName="errorCode" value="BADSSL_UPSTREAM_ERROR" />
      <set-variable variableName="errorMessage" value="#[error.description]" />
      <flow-ref name="build-error-response" />
    </on-error-propagate>
  </error-handler>
</mule>
