src/main/mule/todo-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <configuration-properties file="application.yaml" />

  <http:listener-config name="todo-api-http-listener-config">
    <http:listener-connection host="${http.host}" port="${http.port}" />
  </http:listener-config>

  <api-gateway:autodiscovery apiId="${api.manager.id}" flowRef="todo-api-main" />

  <apikit:config name="todo-api-config" api="api/todo-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

  <flow name="todo-api-main">
    <http:listener config-ref="todo-api-http-listener-config" path="/api/v1/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="todo-api-config" />
    <error-handler ref="todo-api-error-handler" />
  </flow>

  <sub-flow name="build-error-response">
    <ee:transform doc:name="Build error response">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: vars.errorCode default "ERROR",
  message: vars.errorMessage default "Unexpected error"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </sub-flow>

  <flow name="get:\todos:todo-api-config">
    <ee:transform doc:name="Return mock todos">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var todos = [
  {
    id: "mock-todo-1",
    title: "Review API requirements Madam",
    description: "Mocked todo returned by the API",
    status: "pending",
    dueDate: "2026-07-15",
    createdAt: "2026-07-14T00:00:00Z",
    updatedAt: "2026-07-14T00:00:00Z"
  },
  {
    id: "mock-todo-2",
    title: "Deploy Mule app",
    description: "Second mocked todo returned by the API",
    status: "completed",
    dueDate: null,
    createdAt: "2026-07-14T00:00:00Z",
    updatedAt: "2026-07-14T00:00:00Z"
  }
]
---
if (attributes.queryParams.status? and !isEmpty(attributes.queryParams.status))
  todos filter ($.status == attributes.queryParams.status)
else
  todos]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

  <flow name="post:\todos:application\json:todo-api-config">
    <ee:transform doc:name="Return mock created todo">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var nowTime = now()
---
{
  id: "mock-created-todo",
  title: payload.title default "Mock todo",
  description: payload.description default null,
  status: "pending",
  dueDate: payload.dueDate default null,
  createdAt: nowTime,
  updatedAt: nowTime
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <set-variable variableName="httpStatus" value="201" />
  </flow>

  <flow name="get:\todos\(todoId):todo-api-config">
    <ee:transform doc:name="Return mock todo">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: attributes.uriParams.todoId,
  title: "Mock todo",
  description: "Mocked todo returned by id",
  status: "pending",
  dueDate: "2026-07-15",
  createdAt: "2026-07-14T00:00:00Z",
  updatedAt: "2026-07-14T00:00:00Z"
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

  <flow name="put:\todos\(todoId):application\json:todo-api-config">
    <ee:transform doc:name="Return mock updated todo">
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var nowTime = now()
---
{
  id: attributes.uriParams.todoId,
  title: payload.title default "Mock todo",
  description: payload.description default "Mocked updated todo",
  status: payload.status default "pending",
  dueDate: payload.dueDate default null,
  createdAt: "2026-07-14T00:00:00Z",
  updatedAt: nowTime
}]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

  <flow name="delete:\todos\(todoId):todo-api-config">
    <set-variable variableName="httpStatus" value="204" />
    <set-payload value="" />
  </flow>

  <error-handler name="todo-api-error-handler">
    <on-error-propagate type="APIKIT:BAD_REQUEST">
      <set-variable variableName="httpStatus" value="400" />
      <set-variable variableName="errorCode" value="BAD_REQUEST" />
      <set-variable variableName="errorMessage" value="#[error.description]" />
      <flow-ref name="build-error-response" />
    </on-error-propagate>
    <on-error-propagate type="APIKIT:NOT_FOUND">
      <set-variable variableName="httpStatus" value="404" />
      <set-variable variableName="errorCode" value="NOT_FOUND" />
      <set-variable variableName="errorMessage" value="Resource not found" />
      <flow-ref name="build-error-response" />
    </on-error-propagate>
    <on-error-propagate type="ANY">
      <set-variable variableName="httpStatus" value="500" />
      <set-variable variableName="errorCode" value="INTERNAL_SERVER_ERROR" />
      <set-variable variableName="errorMessage" value="#[error.description]" />
      <flow-ref name="build-error-response" />
    </on-error-propagate>
  </error-handler>
</mule>
